:root {
    --principal: #000065;
    --secundario: #ffffff;
}

@font-face {
    font-family: inter;
    src: url(/assets/font/Inter_18pt-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inter, sans-serif, helvetica;
    background-color: var(--secundario);
}

header {
    background-color: var(--principal);
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 100dvw;
    width: 100%;
    height: 100dvh;
    background-color: var(--principal);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s
}

.nav-bar {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    text-align: center;
}

.nav-item {
    color: var(--secundario);
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

#bar-toggle {
    color: var(--secundario);
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 3s;
}

.active {
    left: 0dvw;
}

main {
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLSK_AJR6evpNqfM8OSMXuj5zSPR7STua8GQ&s);
    position: absolute;
    z-index: -1;
}

h1, h2 {
    text-align: center;
}

.principal {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 50dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: rgba(1, 13, 73, 0.759);
    color: var(--secundario);
}

.tecnologias {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20dvh;
}

.lenguajes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    border: black 1px solid;
    padding: 15px;
    margin: 15px;
    font-size: 2em;
    border-radius: 15px;
    background-color: var(--secundario);
    color: var(--principal);
}

.productos {
    width: 100%;
    padding: 25px;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.precios {
    width: 90%;
    height: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.box {
    width: 200px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 2px 2px rgb(228, 228, 228);
}

.box-precio {
    width: 100%;
    background-color: var(--principal);
    height: 25%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secundario);
    font-size: 3rem;
}

.description {
    width: 100%;
    padding: 25px;
    list-style: circle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

li {
    font-size: .8em;
}

button {
    background-color: var(--principal);
    margin: 25px;
    color: var(--secundario);
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 1px 1px gray;
    cursor: pointer;
}

.contacto {
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secundario);
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

label {
    color: var(--secundario);

}

.form-group {
    width: 100%;
    background-color: var(--principal);
    padding: 5px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

input {
    background: none;
}

footer {
    text-align: center;
    color: var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--principal);
    height: 50px;
    bottom: 0;
}